@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
	
* { margin: 0; padding: 0; border: 0; }

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: rgb( 63, 38, 6 );
	background-color: rgb( 242, 236, 225 );
	background-image: url( '../images/background.png' );
}

a {
	color: rgb( 63, 38, 6 );
	text-shadow: 0 0 1px rgba( 63, 38, 6, .3 );	
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#logo,
#main {
	margin: auto;
	width: 1008px;
}
#main {
	background-color: rgba( 255, 255, 255, .3 );
}

.borders {
	border-top: 1px rgb( 219, 202, 192 ) solid;
	border-bottom: 1px rgb( 219, 202, 192 ) solid;
	box-shadow: inset 0 1px 0 rgb( 255, 255, 255 ),
				0 1px 0 rgb( 255, 255, 255 );
}
.paddings {
	padding: 15px 9px;
}

/**** TOP ****/
	#logo img {
		margin: 20px auto 24px auto;
		display: block;
	}
/**** /TOP ****/
/**** MENU ****/
	#nav {
		font-size: 14px;
		text-transform: uppercase;
	}
	#nav ul,
	#nav ul li {
		list-style: none;
	}
	#nav ul {
		padding-top: 17px;
		padding-bottom: 17px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		text-align: center;
	}
	#nav ul > li {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	#nav ul li a {
		text-shadow: 0 0 1px rgba( 63, 38, 6, .3 );	
	}
/**** /MENU ****/
/**** CONTENT ****/
	#content {
		margin: auto;
		width: 740px;
		padding-bottom:	20px;
		text-align: justify;
		text-shadow: 1px 1px 0 rgba( 255, 255, 255, .8 );
	}
	#content h1,
	#content h2,
	#content h3 {
		font-size: 16px;
	}
	#content a {
		color: rgb( 182, 90, 13 );
		text-shadow: none;
	}
	#content .sectionName {
		margin-top: 55px;
		margin-left: 9px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 0 0 1px rgba( 63, 38, 6, .3 );
	}
	#informator {
		border-radius: 5px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.box:after {
		content: '';
		display: block;
		clear: both;
	}
	.box.margins {
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.box article {
		width: 481px;
		float: left;
	}
	.imageCol {
		margin-left: 49px;
		width: 192px;
		float: right;
	}
	.imageCol img {
		border: 1px rgb( 219, 202, 192 ) solid;
		border-radius: 1px;
		float: right;
	}
	.box.right article {
		width: 549px;
	}
	.box.right .imageCol {
		margin-left: 0;
		margin-right: 29px;
		width: 144px;
		float: left;
	}
	.box.right .imageCol img {
		float: left;
	}
/**** /CONTENT ****/